#header {
    height: 50px;
    background: #CCCCCC;
    text-align: center;
    line-height: 50px;
    font-size: 20pt;
}

#footer {
	height: 50px;
	text-align: center;
	line-height: 50px;
	width: 100%;
}

body {
    height: 100%;
    margin-bottom: 30px;
}